@charset "utf-8";
 @font-face{
    font-family:font1;
    src: url(font/cakecafe.zip);

}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header h1{
    padding: 50px;
    font-family: font1;
   
}


header{
    background-color:rgb(5, 5, 5);
    text-align: center;
    
}

h1{
  color: rgb(255, 255, 255);
}

body{
    background-color:#c9b193;
}

img{
 height: 300px;
 margin-left: 15%;
 border-radius:5%;
}

h2{
    text-align: center;
    color: #65452f;
}
    
p{
    margin-left: 20%;
    text-align: justify;
}
 table{
   margin-left:40%;
 }
 h3{
    margin-left: 15%;
    color: #65452f;
 }




